.section-product {
  padding: 30px 0 60px 0;
}

.section-product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-side-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.section-product-side {
  width: 467px;
}

.product-side-wrapper .product-detail {
  width: 231px;
  height: 373px;
  background-color: var(--white);
  position: relative;
}

.product-detail .product-img {
  width: 191px;
  height: 191px;
  margin: 20px 20px 16px 20px;
}

.product-title,
.product-rating,
.product-price,
.product-status {
  margin: 0 20px;
}

.product-title {
  margin-bottom: 16px;
  line-height: 18px;
}

.product-rating {
  margin-bottom: 3px;
}

.product-rating .rating-count {
  font-size: var(--font-xs);
  color: var(--gray);
  margin-left: 5px;
}

.product-price {
  margin-bottom: 10px;
}

.product-status {
  margin-top: 14px;
}

.product-status .stock-text {
  color: var(--instock-button-color);
}

.product-statis .product-text {
  color: var(--description-color);
}

.product-price h2 {
  font-size: var(--font-m);
  color: var(--secondary-color);
}

.product-price.text-blue h2 {
  color: var(--button-background-color);
}

.product-price h2 span {
  font-size: var(--font-l);
  color: var(--gray);
  text-decoration: line-through;
  font-weight: var(--font-thin);
  margin-left: 1px;
}

.section-product-highlight {
  width: calc(100% - (472px * 2));
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  background: var(--white);
  margin: 0 5px;
}

.product-highlight-img {
  margin: 0 40px;
  margin-bottom: 9px;
}

.product-highlight-heading {
  margin: 35px 0 11px 40px;
}

.product-highlight-heading h1 {
  font-size: var(--font-heading);
  font-weight: var(--font-black-bold);
  text-transform: uppercase;
}

.product-highlight-divider {
  margin: 0 40px 20px 40px;
  height: 1px;
  background-color: var(--divider-color);
}

.product-highlight-title,
.product-highlight-rating,
.product-highlight-price,
.product-highlight-descr,
.product-time-wrapper,
.product-highlight-progress,
.product-highlight-status {
  margin: 0 40px;
}

.product-highlight-title {
  margin-bottom: 17px;
}

.product-highlight-rating {
  margin-bottom: 4px;
}

.product-highlight-price {
  margin-bottom: 18px;
}

.product-highlight-price h2 {
  font-size: var(--font-m);
  color: var(--secondary-color);
}

.product-highlight-price h2 span {
  font-size: var(--font-l);
  color: var(--gray);
  text-decoration: line-through;
  font-weight: var(--font-thin);
  margin-left: 1px;
}

.product-status.text-red span {
  color: var(--secondary-color);
}

.product-highlight-descr {
  margin-bottom: 9px;
  font-size: var(--font-l);
  color: var(--description-color);
}

.product-time-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.product-time-wrapper .time {
  width: 45px;
  height: 50px;
  padding: 7px 15px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.product-time-wrapper .space {
  width: 18px;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-highlight-progress {
  height: 5px;
  background-color: var(--progress);
  margin-bottom: 9px;
}

.product-highlight-progress .total {
  height: 5px;
  background-color: var(--secondary-color);
  width: 86%;
}

.product-highlight-status {
  line-height: 20px;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-xs);
  color: var(--description-color);
}

.product-highlight-status span {
  color: var(--primary-color);
}

.product-label {
  position: absolute;
  left: 19px;
  top: 19px;
  padding: 4px 21px;
  width: 55px;
  height: 25px;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  color: var(--white);
}

.product-label.bg-new {
  background: var(--instock-button-color);
  text-transform: uppercase;
}
